<a href="https://colab.research.google.com/github/aliash98/Search2Vec-BScThesis/blob/main/Implementation%20on%20AOL%20Dataset/AOL_Data_Split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
import matplotlib.pyplot as plt
import itertools
from datetime import datetime
import pandas as pd
import numpy as np
import json
import re
import warnings
import gc 
from tqdm import tqdm, trange

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv(r'./gdrive/MyDrive/Colab Notebooks/AOL_Implementation/aol.txt', sep="\t")

In [ ]:
df.head(5)

   AnonID  ...                       ClickURL
0     479  ...                            NaN
1     479  ...                            NaN
2     479  ...  http://www.familyguyfiles.com
3     479  ...            http://movieweb.com
4     479  ...            http://www.imdb.com

[5 rows x 5 columns]

In [ ]:
df['Query'].describe()

count     3614377
unique    1244495
top             -
freq        98554
Name: Query, dtype: object

In [ ]:
print((df['Query'].value_counts()==35).argmax())
df = df[df.Query.isin(df['Query'].value_counts().head(6043).index)]

6043

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 813190 entries, 0 to 3614502
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   AnonID     813190 non-null  int64
 1   Query      813190 non-null  object
 2   QueryTime  813190 non-null  object
 3   ItemRank   418029 non-null  float64
 4   ClickURL   418029 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 37.2+ MB

In [ ]:
print((df['ClickURL'].value_counts()==10).argmax())

# data = data[data.ClickURL.isin(data['ClickURL'].value_counts().head(2810).index)]
# data.info()

3658

In [ ]:
df['QueryTime'] = [datetime.fromisoformat(d) for d in df.QueryTime]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 813190 entries, 0 to 3614502
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   AnonID     813190 non-null  int64
 1   Query      813190 non-null  object
 2   QueryTime  813190 non-null  datetime64[ns]
 3   ItemRank   418029 non-null  float64
 4   ClickURL   418029 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 37.2+ MB

In [ ]:
df['QueryTime'][2700000]

Timestamp('2006-03-25 19:45:14')

In [ ]:
from_date = datetime.strptime('9/5/2006 19:45:00', '%d/%m/%Y %H:%M:%S')
to_date = datetime.strptime('22/5/2006 00:00:00', '%d/%m/%Y %H:%M:%S')

df_train = df[[ d <= from_date for d in df.QueryTime]]
df_validation = df[[from_date < d <= to_date for d in df.QueryTime]]
df_test = df[[to_date < d  for d in df.QueryTime]]

print(df_train.info())
print(df_validation.info())
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567047 entries, 0 to 3575084
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   AnonID     567047 non-null  int64
 1   Query      567047 non-null  object
 2   QueryTime  567047 non-null  datetime64[ns]
 3   ItemRank   300763 non-null  float64
 4   ClickURL   300763 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 26.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 108311 entries, 101 to 3602701
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   AnonID     108311 non-null  int64
 1   Query      108311 non-null  object
 2   QueryTime  108311 non-null  datetime64[ns]
 3   ItemRank   55223 non-null   float64
 4   ClickURL   55223 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 5.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 137832 entries, 214 to 3614502
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   AnonID     137832 non-null  int64
 1   Query      137832 non-null  object
 2   QueryTime  137832 non-null  datetime64[ns]
 3   ItemRank   62043 non-null   float64
 4   ClickURL   62043 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 6.3+ MB
None

In [ ]:
gc.collect()
df_train.to_csv(r'./gdrive/MyDrive/Colab Notebooks/AOL_Implementation/train.csv', index=False)
df_validation.to_csv(r'./gdrive/MyDrive/Colab Notebooks/AOL_Implementation/validation.csv', index=False)
df_test.to_csv(r'./gdrive/MyDrive/Colab Notebooks/AOL_Implementation/test.csv', index=False)